body{
  font-family: sans-serif;
}
.dropArea{
  width:100%;
  height:50%;
  border:2px dashed #000;
}

.imageArea{
  width:100%;
  height:50%;
}
.imageArea img{
  width:50%;
  height:auto;
}
.imageArea img.original{
  float:left;
}
.imageArea img.compressed{
  float:right;
  cursor:pointer;
}


.imageArea::after{
  content:"";
  display:block;
  clear:both;
}